---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "feb. 2022 - actualidad",
    title: "Full-stack Developer",
    company: "Cinetica Tech",
    description:
      "Actualmente, estoy creando nuevos módulos para un producto CRM diseñado para una empresa de Belgíca. Trabajo en estrecha colaboración con compañeros de diferentes países, contribuyendo al crecimiento global de cada uno de los empleados.",
  },
  {
    date: "dic. 2021 - jul. 2023",
    title: "Frontend Web Developer",
    company: "Painted Birds",
    description:
      "Me especialicé en la creación de software para diversos proyectos web. Colaboré con clientes de distintas industrias para implementar características específicas según sus necesidades. Una de mis experiencias más significativas fue la creación de una aplicación para una ONG en Colombia que lucha contra el abuso infantil.",
  },
  {
    date: "jun. 2021 - nov. 2021",
    title: "Android Developer Internship",
    company: "CodigoDelSur",
    description:
      "En esta etapa culminé mi formación y comencé a participar en diversos proyectos, realizando pequeñas contribuciones. Una de estas contribuciones fue realizar modificaciones a un SDK que se utilizaba como base para el desarrollo de aplicaciones para restaurantes.",
  },
  {
    date: "ago. 2020 - nov. 2020",
    title: "Android Developer Internship",
    company: "CodigoDelSur",
    description:
      "Mi experiencia aquí tuvo un enfoque más educativo, donde recibí una formación intensiva en desarrollo Android, utilizando Kotlin como principal tecnología.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
