---
import Badge from "../components/Badge.astro";
import photoImage from "../assets/photo.jpg";
import LinkedInIcon from "./icons/LinkedIn.astro";
import SocialPill from "./SocialPill.astro";
import MailIcon from "./icons/Mail.astro";

const personalImageAlt = "Ruben Derigo";
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img class="rounded-full shadow-lg size-16" src={photoImage.src} alt={personalImageAlt} />
    <a
      href="https://linkedin.com/in/ruben-derigo"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1 class="text-4xl font-bold tracking-tight sm:text-5xl text-white">Hey, soy Ruben Derigo</h1>
  <p class="mt-6 text-xl [&>strong]:text-yellow-200 [&>strong]:font-semibold text-gray-300">
    Con +4 años de experiencia como <strong>desarrollador JavaScript</strong>, soy un apasionado de la creación de
    aplicaciones web únicas. Desde Montevideo, Uruguay 🧉, combino mi formación universitaria con habilidades técnicas
    para ofrecer soluciones innovadoras y personalizadas."
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:rm.derigo@gmail.com">
      <MailIcon class="size-4" />
      Contáctame
    </SocialPill>
    <SocialPill href="https://linkedin.com/in/ruben-derigo">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
  </nav>
</div>
