---
import Badge from "../components/Badge.astro";
import photoImage from "../assets/photo.jpg";
import LinkeInIcon from "./icons/LinkeIn.astro";
import GitHubIcon from "./icons/GitHub.astro";
import SocialPill from "./icons/SocialPill.astro";
import GitLabIcon from "./icons/GitLab.astro";
import MailIcon from "./icons/Mail.astro";
---

<img src={photoImage.src} alt="Ruben Derigo photo" class="size-12 rounded-full mb-4" />
<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
  Hey, I'm Ruben Derigo
  <a
    href="https://linkedin.com/in/ruben-derigo"
    target="_blank"
    rel="noopener"
    class="flex justify-center items-center"
  >
    <Badge>Available for hire</Badge>
  </a>
</h1>
<h2 class="text-2xl text-wrap">
  <span>+3 years experience.</span><span class="text-yellow-200/90"> Full-Stack Web Developer</span> from Montevideo, Uruguay
  🧉UY. Specialized in creating practical and customized solutions.
</h2>
<nav class="flex gap-x-3 mt-8">
  <SocialPill href="https://linkedin.com/in/ruben-derigo">
    <LinkeInIcon class="size-6 flex" />
    LinkedIn
  </SocialPill>

  <SocialPill href="https://gitlab.efficy.cloud/rubenderigo">
    <GitLabIcon class="size-6" />
    GitLab
  </SocialPill>

  <SocialPill href="https://github.com/rubenderigo">
    <GitHubIcon class="size-6" />
    GitHub
  </SocialPill>

  <SocialPill href="mailto:rm.derigo@gmail.com">
    <MailIcon class="size-6" />
    rm.derigo@gmail.com
  </SocialPill>
</nav>
